.title {
    text-align: center;
}

body {
    background-color: darkgreen;
    font-family: Arial;
}

h1 {
    color: purple;
}

p {
    font-size: 18px;
}

img {
    border-radius: 10px;
    width: 300px;
}
