body {
    background-color: FFF8DC;
    font-family: Arial;
}

.container {
    width: 700px;
    margin: auto;
    background-color: wait;
    padding: 20px;
}

.title {
    text-align: center;
    color: darkblue;
}

p {
    font-size: 18px;
}

ul {
    font-size: 18px;
}

img {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}

a {
    display: inline-block;
    padding: 10px 15px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: black;
}
